<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
       .col {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    width: 300px;
    border: 15px solid rgb(165, 62, 124);
    padding: 50px;
    margin: 20px;
    color: rgb(115, 59, 193);
    background-color:rgb(239, 160, 49);
    text-align: center;
    font-size: 25px;
    }
      </style>
  </head>
  <body>
    <br><br>
    <h1 align="center">Login Here!! to proceed</h1>
    <br>
    <center>
    <form action="sign-in" method="GET">
    <div class="container">
          <div class="col">
            <label><b>Username</b></label><br><br>
            <input
              type="text"
              placeholder="Username"
              required
              name="name"
            /><br><br>
            <label><b>Password</b></label><br><br>
            <input
              type="password"
              placeholder="Password"
              required
              name="password"
            /><br /><br>
            <label><b> Re-enter Password</b></label><br><br>
            <input
              type="password"
              placeholder="Password"
              required
              name=" reenter password"
            /><br><br>
            <input type="submit" value="Login" />
            <button type="cancel" onclick="javascript:window.location='http://stackoverflow.com';">Cancel</button>
          </div> 
      </form> 
    </div>
  </center>
  </body>
</html>
